RewriteEngine On
RewriteCond %{HTTPS} off [OR]
RewriteCond %{HTTP_HOST} ^www\. [NC]
RewriteCond %{HTTP_HOST} ^(?:www\.)?(.+)$ [NC]
RewriteRule ^ https://%1%{REQUEST_URI} [L,NE,R=301]

RewriteEngine On 
RewriteRule ^index\.html$ / [R=301,L] 
RewriteRule ^(.*)/index\.html$ /$1/ [R=301,L] 

RewriteEngine On 
RewriteRule ^index\.php% / [R=301,L] 
RewriteRule ^(.*)/index\.php% /$1/ [R=301,L] 

RewriteEngine On 
RewriteCond %{THE_REQUEST} /([^.]+)\.php [NC] 
RewriteRule ^ /%1 [L,NC,R=301] 
RewriteCond %{REQUEST_FILENAME}.php -f 
RewriteRule ^ %{REQUEST_URI}.php [NC,L] 

RewriteRule ^([^\.]+)$ $1.html [NC,L]
RewriteCond %{THE_REQUEST} \.html
RewriteRule ^(.*)\.html$ /$1 [R=301,L]